{% extends 'dashboard\basic.html' %}

{% block body %}
{% load static %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Recent Contact <span>| Latest</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Course</th>
                        <th scope="col">Mob No.</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for n in contact %}
                      <tr>
                        <th scope="row"><a href="#">{{n.id}}</a></th>
                        <td>{{n.date}} </td>
                        <td>{{n.name}}</td>
                        <td>{{n.course}}</td>
                        <td><a href="tel:{{n.phone}}" class="text-primary">{{n.phone}}</a></td>
                        <td><a href="mailto:{{n.email}}" class="text-primary">{{n.email}}</a></td>
                        <td>{{n.msg}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
          </div>
        </div><!-- End Left side columns -->

     </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}